
body{
    background: url('background.png') center/cover no-repeat;
}
/* Navbar */
nav {
    background: #0077cc;
    color: white;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 0;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav input {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #005fa3;
}
nav button {
    padding: 0.5rem 1rem;
    background: #005fa3;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

/* Home hero */
.hero {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.hero h1 {
    font-size: 5rem;
    margin-bottom: 0.5rem;
    margin-top: 50px;
    color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}
.hero p {
    font-size: 2rem;
    color: white;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: black;
}

/* About page */
.about-content {
    margin: 2rem;
}
.about-content h2 {
    margin-top: 1.5rem;
}

/* Contact form */
.contact-form {
    margin: 2rem;
}
.contact-form form div {
    margin-bottom: 1rem;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact-form button {
    padding: 0.7rem 1.5rem;
    background: #0077cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/*To style results*/
.recommendation-card {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.recommendation-card img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.recommendation-card h3 {
    margin: 0 0 .5rem 0;
    color: #0077cc;
}
